.contacts {
  padding: 120px 0 90px;

  &__wrapper {
    padding: 0 35px 0 52px;
    display: flex;
    justify-content: space-between;
  }

  &__descr {
    width: 585px;
    padding-top: 6px;

    .divider {
      margin: 0;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__socials {
    margin-top: 20px;
    display: flex;

    li + li {
      margin-left: 25px;
    }
  }

  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    gap: 30px;
    justify-content: space-between;
  }

  &__form-fieldset {
    padding-left: 20px;
    height: 50px;
  }

  &__form-legend {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-weight: 500;

    &::placeholder {
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      font-weight: 500;
    }
  }

  &__textarea {
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    resize: none;
    padding-left: 20px;

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  &__button {
    max-width: 220px;
    border: none;
  }
}
