@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .about {
    &__descr {
      margin-left: 25px;
    }
  }

  .resume {
    &__wrapper {
      padding: 40px 30px 0;
      grid-template-columns: repeat(2, 380px);
    }
  }

  .skills {
    &__wrapper {
      margin-top: 50px;
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
    }
  }

  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      justify-content: space-around;
      row-gap: 20px;

      .horizonal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }

  .contacts {
    &__wrapper {
      padding: 0 20px;
    }

    &__descr {
      width: 490px;
    }

    &__form {
      grid-template: 45px 190px 45px/ repeat(2, 230px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .title {
    &__fz36 {
      font-size: 26px;
    }
  }

  .about {
    padding-top: 50px;

    &__descr {
      max-width: 320px;
    }

    &__subtitle {
      margin-top: 15px;
      line-height: 45px;
    }
  }

  .resume {
    padding-top: 50px;

    &__wrapper {
      grid-template-columns: repeat(1, 100%);
    }

    &__column {
      margin-bottom: 20px;
    }
  }

  .skills {
    padding-top: 50px;

    &__ratings {
      padding-top: 50px;
    }
  }

  .portfolio {
    padding-top: 50px;
  }

  .pricelist {
    &__wrapper {
      padding: 0;
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }

  .contacts {
    padding: 50px 0;

    &__wrapper {
      padding: 0 20px;
      justify-content: center;

      .about__photo {
        display: none;
      }
    }

    &__descr {
      width: 490px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .title {
    &__fz48 {
      font-size: 28px;
    }
  }

  .promo {
    &__title {
      width: 300px;
      line-height: 39px;
    }
  }

  .about {
    &__wrapper {
      flex-direction: column;
    }

    &__photo {
      height: 340px;
      max-width: 100%;
    }

    &__descr {
      margin-top: 25px;
      max-width: 100%;
    }

    &__skills-item {
      width: 255px;
    }
  }

  .skills {
    &__wrapper {
      justify-content: center;
    }

    &__ratings {
      justify-content: center;
    }

    &__ratings-item,
    &__ratings-line {
      width: 100%;
    }
  }

  .pricelist {
    &__wrapper {
      margin-top: 40px;
      justify-content: center;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .title {
    &__fz48 {
      font-size: 26px;
    }

    &__fz36 {
      font-size: 20px;
    }
  }

  .hamburger {
    right: 20px;
  }

  .menu__block {
    width: 250px;
  }

  .menu__nav {
    padding-left: 55px;
  }

  .promo {
    background: url(../img/background/promo-bg.jpg) no-repeat 57% / cover;

    &__btns {
      margin-top: 30px;
    }
  }

  .pricelist {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 295px);
    }
  }

  .contacts {
    &__descr {
      width: 100%;
    }
  }
}
